<div class="col-lg-5">
    <h1 class="h1-strong"> {{ title }} </h1>

    <div class="alert alert-success" *ngIf=" status== 'success' ">
        Registro completado correctamente, <a [routerLink]="['/login']">Identif&iacute;cate aqu&iacute;</a>
    </div>

    <div class="alert alert-danger" *ngIf=" status== 'error' ">
        El registro no ha podido completarse, quizas tu email o nickname ya est&eacute; en uso, intentalo nuevamente.
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">

        <div class="form-group">
            <label for="nombre">Nombre :</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="apellido">Apellidos :</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
                El apellido es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="nick">Apodo :</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
            <span *ngIf="!nick.valid && nick.touched">
                El nick es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" name="name" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="password">Contraseña :</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
            </span>
        </div>

        <div class="form-group">
            <input type="submit" value="{{title}}" class="btn btn-success"  [disabled] = "!registerForm.valid"/>
        </div>

    </form>
</div>
