<div class="col-lg-10">
    <h3>{{ title }}</h3>

    <div class="alert alert-success" *ngIf=" status== 'success' ">
        Has enviado el mensaje correctamente, m&iacute;ralo en <a [routerLink]="['/mensajes/enviados']"> tus mensajes enviados </a>
    </div>

    <div class="alert alert-danger" *ngIf=" status== 'error' ">
        No se ha podido enviar el mensaje correctamente, inntentalo más tarde.
    </div>

    <!-- FORMULARIO ENVIO DE MENSAJES -->
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <div class="form-group">
            <label>Para :</label>
            <!-- Followers List -->
            <select
                name="receiver"
                class="form-control"
                #receiver="ngModel"
                [(ngModel)]="message.receiver"
                *ngIf="follows"
            >
                <option 
                    *ngFor="let follow of follows"
                    value="{{follow.user._id}}"
                    > {{ follow.user.name +' ' +follow.user.surname +' ( ' +follow.user.nick +' ) '}} </option>
            </select>
        </div>

        <div class="form-group">
            <label for=""> Mensaje </label>
            <textarea name="text"
                      id=""
                      cols="30"
                      rows="10"
                      required
                      #text="ngModel"
                      [(ngModel)]="message.text"
                      class="form-control"
                      ></textarea>
        </div>

        <input type="submit" class="btn btn-success" value="{{ title }}">
    </form>
</div>