<div class="col-lg-4">
    <h3> {{ title }} </h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation" [routerLinkActive]="['active']" >
                <a [routerLink]="['enviar']">Enviar mensaje</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['recibidos']">Mensajes recibidos</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['enviados']">Mensajes enviados</a>
            </li>
            <li role="presentation">
                <a [routerLink]="['/home']">Informaci&oacute;n</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>