<div class="col-lg-10">
    <h3>{{ title }}</h3>
    <!-- LIST OF SENDED MESSAGES -->
    <div class="people" *ngIf="messages">

        <!-- USER LIST -->
        <div class="item-user" *ngFor="let message of messages" >

            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="image-user pull-left">

                        <a href="#"> 
                            <img alt="" class="avatar-default" src="{{url +'get-image-user/' +message.emitter.image}}"  *ngIf="message.emitter.image"/>
                            <img alt="avatar-default" class="avatar-default" src="assets/img/user.png"   *ngIf="!message.emitter.image || message.emitter.image === null"/>
                        </a>
                        
                    </div>

                    <div class="user-name pull-left">

                        <p class="name-surname">
                            <a [routerLink]="['/perfil', message.emitter._id]">
                                {{ message.emitter.name }} {{ message.emitter.surname }}
                            </a>
                            &nbsp; | &nbsp;
                            <span class="nickname">
                                {{ message.emitter.nick }}
                            </span>
                            &nbsp; | &nbsp;
                            <span class="date">
                                {{ (message.created_at | amFromUnix) | amLocale:'es'| amTimeAgo }}
                            </span>
                            &nbsp; | &nbsp;
                            <span>
                                Enviado a <a [routerLink]="['/perfil', message.receiver._id]">{{ message.receiver.name +' ' +message.receiver.surname }}</a>
                            </span>
                        </p>
                        
                        <p> {{ message.text }} </p>

                    </div>

                    <div class="pull-left col-lg-12">
                        
                    </div>

                     <!-- FOLLOW / UNFOLLOW -->
                    <div class="pull-right" *ngIf="message.emitter._id != identity._id">
                        <button class="btn btn-success" 
                            *ngIf="follows.indexOf(message.emitter._id) < 0"
                            (click)="followUser(message.emitter._id)"
                            >
                            <span class="glyphicon glyphicon-plus-sign"></span>Seguir
                        </button>

                        <button class="btn btn-primary" 
                            *ngIf="follows.indexOf(message.emitter._id) >= 0"
                            (mouseenter) = "mouseEnter(message.emitter._id)"
                            (mouseleave) = "mouseLeave(message.emitter._id)"
                            (click) = "unfollowUser(message.emitter._id)"
                            [class.btn-danger]="message.emitter._id == followUserOver"
                            >

                            <span *ngIf="message.emitter._id == followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>Dejar de seguir
                            </span>

                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>Siguiendo
                            </ng-template>
                            
                        </button>
                    </div>


                </div>

               
            </div>

        </div>

        <!-- PAGINATION -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"> <a [routerLink]="['/mensajes/enviados', prev_page]">Anterior</a> </li>
            <li *ngIf="pages != page"> <a [routerLink]="['/mensajes/enviados', next_page]">Siguiente</a> </li>
        </ul>

    </div>
</div>