<div class="navigation col-lg-12">

  <div class="navbar navbar-deafult">

    <div class="container-fluid">

      <div class="navbar-header">

        <a href="#" class="navbar-brand">{{ title }}</a>

      </div>

      <ul class="nav navbar-nav" *ngIf="identity">

        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>Inicio
          </a>
        </li>

        <li>
          <a [routerLink]="['/timeline']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list"></span>Timeline
          </a>
        </li>

        <li>
          <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>Gente
          </a>
        </li>

        <li>
          <a [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-envelope"></span>Mensajes
          </a>
        </li>

      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">

        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>Login
          </a>
        </li>

        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>Registro
          </a>
        </li>

      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="identity">

        <li class="avatar">
          <!-- cargar imagen de usuario -->
          <img src="{{ url  + 'get-image-user/' + identity.image }}" alt="" *ngIf="identity.image"  >
        </li>

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ identity.name }} <span class="caret"></span></a>
          
  
          <ul class="dropdown-menu">
  
            <li>
              <a [routerLink]="['/perfil', identity._id]"><span class="glyphicon glyphicon-user"></span> Mi perfil</a>
            </li>
  
            <li>
              <a [routerLink]="['/mis-datos']"><span class="glyphicon glyphicon-cog"></span> Mis datos </a>
            </li>
  
            <li>
              <a href="#" class="pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesi&oacute;n </a>
            </li>
  
          </ul>

        </li>

      </ul>

      

    </div>

  </div>

</div>

<div class="container">
  <router-outlet></router-outlet>
</div>