<div class="col-lg-5">
    <h1 class="h1-strong"> {{ title }} </h1>

    <div class="alert alert-success" *ngIf=" status== 'success' ">
        Te has identificado correctamente, bienvenido.
    </div>

    <div class="alert alert-danger" *ngIf=" status== 'error' ">
        No te has podido identificar correctamente, intentalo nuevamente.
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-lg-12">

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched">El email no es correcto. </span>
        </div>

        <div class="form-group">
            <label for="password">Contraseña :</label>
            <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">La contraseña no es correcta. </span>
        </div>

        <input type="submit" value="Entrar" class="btn btn-success" [disabled]="!loginForm.valid" />

    </form>
</div>