<div id="publications">
    <div class="item-publication" *ngFor="let publication of publications">
        <div class="panel panel-default" >
            <div class="panel-body">

                <div class="image-user pull-left">

                    <a href=""> 
                        <img alt="{{publication.user.image}}" class="avatar-default" src="{{url +'get-image-user/' +publication.user.image}}"  *ngIf="publication.user.image"/>
                        <img alt="{{publication.user.image}}" class="avatar-default" src="assets/img/user.png"   *ngIf="!publication.user.image || publication.user.image === null"/>
                    </a>
                    
                </div>

                <div>
                    <span class="user-name"> 
                        {{ publication.user.name +' ' +publication.user.surname }} 
                    </span>
                    &nbsp; | &nbsp;
                    <span class="date">
                        {{ (publication.created_at | amFromUnix) | amLocale:'es'| amTimeAgo }}
                    </span>
                </div>
               

                <h4 class="publication-text pull-left">
                    {{ publication.text }}
                </h4>
            </div>

            
        </div>
    </div>
</div>
<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
    <button class="btn btn-success" (click)="viewMore()" *ngIf=" !noMore ">
        Ver m&aacute;s publicaciones
    </button>
</div>