<div class="col-lg-8">

    <h1 class="h1-strong">
        {{ title }}
    </h1>

    <div id="data-profile" *ngIf="user">

        <div class="avatar">
            <img src="{{ url + 'get-image-user/' +user.image }}" *ngIf="user.image">
            <img src="assets/img/user.png" *ngIf="!user.image">
        </div>

        <div class="user-name pull-left">
            <div class="label label-default pull-left" *ngIf="followed">
                Te sigue
            </div>

            <div class="clearfix"></div>

            <div class="pull-left">
                <p class="name">{{ user.name +' ' +user.surname }} </p>
                <p class="nick">{{ user.nick }}</p>
            </div>

            <div class="clearfix"></div>
            
            <div class="follow pull left">

                <button class="btn btn-success" *ngIf="!following" (click)="followUser( user._id )">
                    Seguir
                </button>
                <button class="btn btn-primary"
                *ngIf="following"
                (click)="unfollowUser( user._id )"
                (mouseenter)="mouseEnter(user._id)"
                (mouseleave)="mouseLeave()"
                [class.btn-danger]="user._id == followUserOver"
                >
                    <span *ngIf="user._id == followUserOver; else following">
                        Dejar de Seguir
                    </span>
                    
                    <ng-template #following>
                        Siguiendo
                    </ng-template>
                </button>
                
            </div>

        </div>

        <div class="stats pull-left" *ngIf="stats">

            <div class="following-data">
                <a [routerLink]="['/siguiendo', user._id, 1]">
                    <span class="label-stats">
                        Siguiendo :
                    </span>
                    <span class="number-stats">
                        {{ stats.following }}
                    </span>
                </a>
            </div>
    
            <div class="following-data">
                <a [routerLink]="['/siguidores', user._id, 1]">
                    <span class="label-stats">
                        Seguidores :
                    </span>
                    <span class="number-stats">
                        {{ stats.followed }}
                    </span>
                </a>
            </div>
    
            <div class="following-data">
                <a href="#">
                    <span class="label-stats">
                        Publicaciones :
                    </span>
                    <span class="number-stats">
                        {{ stats.publications }}
                    </span>
                </a>
            </div>
            
        </div>

        <div class="publications col-lg-12" *ngIf="user">
            <app-publications [user]="user._id"></app-publications>
        </div>

    </div>

    
    

</div>

<app-sidebar></app-sidebar>