<div class="col-lg-10">
    <h3>{{ title }}</h3>
    <!-- LIST OF RECEIVED MESSAGES -->
    <div class="people" *ngIf="messages">

        <!-- USER LIST -->
        <div class="item-user" *ngFor="let message of messages" >

            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="image-user pull-left">

                        <a href="#"> 
                            <img alt="" class="avatar-default" src="{{url +'get-image-user/' +message.emitter.image}}"  *ngIf="message.emitter.image"/>
                            <img alt="avatar-default" class="avatar-default" src="assets/img/user.png"   *ngIf="!message.emitter.image || message.emitter.image === null"/>
                        </a>
                        
                    </div>

                    <div class="user-name pull-left">

                        <p class="name-surname">
                            <a [routerLink]="['/perfil', message.emitter._id]">
                                {{ message.emitter.name }} {{ message.emitter.surname }}
                            </a>
                            &nbsp; | &nbsp;
                            <span class="nickname">
                                {{ message.emitter.nick }}
                            </span>
                            &nbsp; | &nbsp;
                            <span class="date">
                                {{ (message.created_at | amFromUnix) | amLocale:'es'| amTimeAgo }}
                            </span>
                        </p>
                        
                        <p> {{ message.text }} </p>

                    </div>

                    <div class="pull-left col-lg-12">
                        
                    </div>

                </div>

               
            </div>

        </div>

        <!-- PAGINATION -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"> <a [routerLink]="['/mensajes/recibidos', prev_page]">Anterior</a> </li>
            <li *ngIf="pages != page"> <a [routerLink]="['/mensajes/recibidos', next_page]">Siguiente</a> </li>
        </ul>

    </div>
</div>