<div class="col-lg-8">

    <h1 class="h1-strong">{{ title }}</h1>

    <div class="people">

        <!-- USER LIST -->
        <div class="item-user" *ngFor="let user of users" >

            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="image-user pull-left">

                        <a href="#"> 
                            <img alt="" class="avatar-default" src="{{url +'get-image-user/' +user.image}}"  *ngIf="user.image && user.image != null"/>
                            <img alt="avatar-default" class="avatar-default" src="assets/img/user.png"   *ngIf="!user.image || user.image == null"/>
                        </a>
                        
                    </div>

                    <div class="user-name pull-left">

                        <p class="name-surname">
                            <a [routerLink]="['/perfil', user._id]">
                                {{ user.name }} {{ user.surname }}
                            </a>
                        </p>
                        
                        <p class="nickname">
                            {{ user.nick }}
                        </p>

                    </div>

                     <!-- FOLLOW / UNFOLLOW -->
                    <div class="pull-right" *ngIf="user._id != identity._id">
                        <button class="btn btn-success" 
                            *ngIf="follows.indexOf(user._id) < 0"
                            (click)="followUser(user._id)"
                            >
                            <span class="glyphicon glyphicon-plus-sign"></span>Seguir
                        </button>

                        <button class="btn btn-primary" 
                            *ngIf="follows.indexOf(user._id) >= 0"
                            (mouseenter) = "mouseEnter(user._id)"
                            (mouseleave) = "mouseLeave(user._id)"
                            (click) = "unfollowUser(user._id)"
                            [class.btn-danger]="user._id == followUserOver"
                            >

                            <span *ngIf="user._id == followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>Dejar de seguir
                            </span>

                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>Siguiendo
                            </ng-template>
                            
                        </button>
                    </div>


                </div>

               
            </div>

        </div>

        <!-- PAGINATION -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"> <a [routerLink]="['/gente', prev_page]">Anterior</a> </li>
            <li *ngIf="pages != page"> <a [routerLink]="['/gente', next_page]">Siguiente</a> </li>
        </ul>

    </div>

</div>

<app-sidebar></app-sidebar>

<div class="clearfix"></div>