<div class="col-lg-4 sidebar-32">
    <h1 class="h1-strong">Hola {{ identity.name }}</h1>
</div>


<div id="user-card" class="col-lg-4 panel panel-default pull-left box-default">

    <div class="avatar pull-left">
        <img src="{{url +'get-image-user/' +identity.image}}" alt="" *ngIf="identity && identity.image"/>
        <img src="assets/img/user.png" alt="" *ngIf="identity && !identity.image"/>
    </div>

    <div class="name-surname pull-left">

        <a [routerLink]="['/perfil', identity._id]">{{ identity.name +' ' +identity.surname }}</a>
        <p class="nickname">{{ identity.nick }}</p>
        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>
    

    <div class="stats" *ngIf="stats">

        <div class="following-data">
            <a [routerLink]="['/siguiendo', identity._id, 1]">
                <span class="label-stats">
                    Siguiendo :
                </span>
                <span class="number-stats">
                    {{ stats.following }}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/siguidores', identity._id, 1]">
                <span class="label-stats">
                    Seguidores :
                </span>
                <span class="number-stats">
                    {{ stats.followed }}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/perfil', identity._id]">
                <span class="label-stats">
                    Publicaciones :
                </span>
                <span class="number-stats">
                    {{ stats.publications }}
                </span>
            </a>
        </div>

    </div>

</div>

<!-- PUBLICATIONS FORMS -->
<div id="new-publication" class="col-lg-4 panel panel-default pull-left">

    <div class="alert alert-success" *ngIf=" status === 'success' ">
        Publicaci&oacute;n enviada correctamente
    </div>


    <div class="alert alert-danger" *ngIf=" status === 'error' ">
        Publicaci&oacute;n no enviada
    </div>

    <form class="col-lg-10" #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);">

        <div class="form-group">
            <label for="text">¿Que estás pensando hoy?</label>
            <textarea class="form-control"
                      name="text"
                      id="text"
                      required
                      cols="30"
                      rows="10"
                      #text="ngModel"
                      [(ngModel)]="publication.text" >
            </textarea>
            <span *ngIf="!text.valid && text.touched">
                El texto de la publicación es obligatorio.
            </span>
        </div>

        <div class="form-group">
            <label for="">Sube tu foto</label>
            <input #pubImg type="file" placeholder="Subir imagen" class="form-control" (change)="fileChangeEvent($event)" >
        </div>

        <div class="form-group">
            <input type="submit"
                   class="btn btn-success"
                   value="Enviar"
                   [disabled]="!newPubForm.form.valid"
                   >
        </div>

    </form>

</div>