<div class="col-lg-8">
    <h1 class="h1-strong">{{ title }}</h1>
    <button class="btn btn-default btn-sm mb-2" (click)="refresh($event)">
        Mostrar nuevas
    </button>

    <div id="publications">
        <div class="item-publication" *ngFor="let publication of publications">
            <div class="panel panel-default" >
                <div class="panel-body">
    
                    <div class="image-user pull-left">
    
                        <a href=""> 
                            <img alt="{{publication.user.image}}" class="avatar-default" src="{{url +'get-image-user/' +publication.user.image}}"  *ngIf="publication.user.image"/>
                            <img alt="{{publication.user.image}}" class="avatar-default" src="assets/img/user.png"   *ngIf="!publication.user.image || publication.user.image === null"/>
                        </a>
                        
                    </div>
    
                    <div>
                        <span class="user-name"> 
                            <a [routerLink]="['/perfil', publication.user._id]" class="user-name">
                                {{ publication.user.name +' ' +publication.user.surname }} 
                            </a>
                        </span>
                        &nbsp; | &nbsp;
                        <span class="date">
                            {{ (publication.created_at | amFromUnix) | amLocale:'es'| amTimeAgo }}
                        </span>
                    </div>
                   
    
                    <h4 class="publication-text pull-left">
                        {{ publication.text }}
                    </h4>

                    <div class="pull-right" *ngIf=" publication.user._id == identity._id ">
                        <div class="bs-example">
                            &nbsp;
                            <!-- Button HTML (to Trigger Modal) -->
                            <a href="#myModal{{publication._id}}" role="button" class="btn btn-danger pull-right" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
                            &nbsp;

                            <!-- Modal HTML -->
                            <div id="myModal{{publication._id}}" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">¿Est&aacute;s seguro(a) de querer eliminar esta publicaci&oacute;n?</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Si la borras no podr&aacute;s recuperarla.</p>
                                            <p class="text-secondary text-danger"><small>{{ publication.text }}</small></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button 
                                                type="button" class="btn btn-primary"
                                                (click)="deletePublication(publication._id)"
                                                data-dismiss="modal"
                                            >
                                                Borrar la publicaci&oacute;n
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>

                    <div class="pull-right" *ngIf=" publication.file != null ">
                        <button 
                            class="btn btn-warning pull-right"
                            (click) = "showThisImage(publication._id)"
                            *ngIf = "showImage != publication._id " 
                            >
                            <span class="glyphicon glyphicon-picture"></span>
                        </button>
                        <button 
                            class="btn btn-danger pull-right"
                            (click) = "hideThisImage(publication._id)"
                            *ngIf = "showImage == publication._id" 
                            >
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <br/>
                    </div>
                    
                    <div class="col-lg-12" *ngIf="publication.file != null && showImage == publication._id">
                        <img src="{{ url +'get-image-pub/' +publication.file }}" class="col-lg-12" />
                    </div>
                </div>
    
                
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <button class="btn btn-success" (click)="viewMore()" *ngIf=" !noMore ">
            Ver m&aacute;s publicaciones
        </button>
    </div>
    
</div>

<app-sidebar (sended)="refresh($event)"></app-sidebar>


<div class="clearfix"></div>