/* You can add global styles to this file, and also import other style files */

/* GENERAL */

.h1-strong {
    font-size: 35px;
    font-weight: bold;
    /* margin-left: 13px; */
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active {

    background-color: #9c1111;

}

.pointer {

    cursor: pointer;

}

/* HEADER */
.navigation {
    padding: 0 !important;
    
}

.navigation .navbar{
    border: none;
    border-radius: 0;
    background-color: #f44336 !important;
}

.navigation .navbar *{
   color: white !important;
}

.navigation .navbar a:hover{

    background-color: #cc1717;

}

.navigation .navbar .dropdown-menu *{

    color: black!important;

}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{

    background-color:  #cc1717!important;

}

.navigation .navbar .dropdown-menu a:hover{

    background-color: #eeeeee;

}

.navigation .avatar {

    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;

}

.navigation .avatar img {
    height: auto;
    width: 38px;
}

.jumbotron{

    padding: 25px;
    border-radius: 5px;
    text-align: center;

}

.user-image-for-edit img{
    height: 64px;
}

/* PEOPLE */
.people {
    min-height: 500px;
}

.item-user .image-user,
.item-publication .image-user{

    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;

}

.item-user .image-user img
.item-publication .image-user img{

    width: 120px;

}

.item-user .user-name,
.item-publication .image-user{

    font-weight: bold;
    margin-top: 10px;

}

.item-user .user-name .nickname{

    color: #969393;

}

.item-user .user-name .name-surname a{

    font-weight: bold;
    color: #555;

}
.avatar-default {
    width: 100%!important;
}

/* ****************************************************************************************** */

/* SIDEBAR */

.sidebar-32{

    width: 32%;
    padding: 0 !important;

}

#user-card,
#new-publication {

    padding: 25px;
    width: 32%;

}

#new-publication {

    padding: 18px;
    padding-left: 8px;

}

#user-card .avatar{

    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;

}

#user-card .avatar img{

    width: 100%;

}

#user-card .name-surname {

    font-weight: 300;
    font-size: 17px;

}

#user-card .name-surname a {

    color: #666666;

}

#user-card .name-surname .nickname {

    color: #969393;

}

#user-card .stats{

    border-top: 1px solid #eee;
    margin-top: 10px;

}

#user-card .stats a{

    text-decoration: none;

}

#user-card .stats a:hover .number-stats{

    color: #f44336;

}

#user-card .label-stats,
#user-card .number-stats{

    display: block;
    text-align: center;
    transition: all 300ms;

}

#user-card .label-stats{

    font-weight: bold;
    color: #555;

}

#user-card .number-stats{

    font-weight: bold;
    color: #4CAF50;

}

#user-card .stats .following-data {

    float: left;
    padding-right: 4px;
    padding-left: 15px;
    margin-top: 10px;
    border-right: 2px solid #ccc;

}

#user-card .stats .following-data:first-child{

    padding-left: 6px;

}

#user-card .stats .following-data:last-child{

    border: none;

}

/* ****************************************************************************************** */

/* TIMELINE */
#publications {

    min-height: 500px;

}

#publications .date{
    color: gray;
}

#publications img{
    width: 100%;
}


/* ****************************************************************************************** */

/* PROFILE */
#data-profile{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    min-height: 500px;
    text-align: left;
}

#data-profile .avatar{
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px;
    grid-area: avatar;
}

#data-profile .avatar img{
    width: 100%;
}

#data-profile .user-name{
    margin-top: 25px;
    grid-area: user-info;
}

#data-profile .user-name .label{
    margin-bottom: 15px;
}


#data-profile .user-name .name{
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

#data-profile .user-name .nick{
    font-size: 24px;
    font-weight: normal;
    color: grey;
}

#data-profile .stats{

    border-left: 4px solid #ccc;
    margin-left: 20px;
    padding-left: 20px;
    height: 120px;
    grid-area: stats;

}

#data-profile .stats a{

    font-size: 20px;
    line-height: 35px;

}

#data-profile .publications{
    grid-area: publications;
}

#data-profile{
    grid-template-areas: "avatar user-info stats" "publications publications publications";
}


/* ****************************************************************************************** */