<div class="col-lg-5">

    <h1 class="h1-strong">{{ title }}</h1>

    <div class="alert alert-success" *ngIf="status == 'success' ">
        Se han actualizado tus datos correctamente.
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se han podido actualizar sus datos.
    </div>

    <form  class="col-lg-12" #userEditForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Nombre :</label>
            <input type="text" name="name" id="name" class="form-control" required 
                    #name="ngModel" [(ngModel)]="user.name"
            />

            <span *ngIf="!name.value && name.touched"> El nombre es obligatorio </span>
        </div>

        <div class="form-group">
            <label for="surname">Apellidos : </label>
            <input type="text" name="surname" id="surname" class="form-control" required
                    #surname="ngModel" [(ngModel)]="user.surname"
            />

            <span *ngIf="!surname.value && surname.touched"> Los apellidos son obligatorios </span>
        </div>

        <div class="form-group">
            <label for="nick">Nick : </label>
            <input type="text" name="nick" id="nick" class="form-control" required
                    #nick="ngModel" [(ngModel)]="user.nick"
            />

            <span *ngIf="!nick.value && nick.touched"> El nick es obligatorio </span>
        </div>

        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" class="form-control" required
                    #email="ngModel" [(ngModel)]="user.email"
            />

            <span *ngIf="!email.value && email.touched"> El email es obligatorio </span>
        </div>

        <div *ngIf="user.image" class="user-image-for-edit">
            <img src="{{ url+'get-image-user/' + user.image }}" alt="" class="img-thumbnail"/>
        </div>

        <div class="form-group">

            <label for="avatar">Sube tu Avatar: </label>
            <input type="file" name="avatar" id="avatar" placeholder="Subir imagen" (change)="fileChangeEvent($event)">

        </div>

        <input type="submit" value="{{ title }}" class="btn btn-warning" [disabled]="!userEditForm.form.valid"/>

    </form>

</div>